[workspace]
members = [".", "wry-bindgen", "wry-bindgen-macro", "wry-bindgen-macro-support"]
resolver = "2"

[package]
name = "wry-testing"
version = "0.1.0"
edition = "2024"

[dependencies]
base64 = "0.22.1"
bytemuck = "1.24.0"
inventory = "0.3.21"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
slotmap = "1.1.1"
winit = "0.30.12"
wry = { version = "0.53.5", features = ["devtools"] }
wasm-bindgen = { package = "wry-bindgen", path = "wry-bindgen" }
wasm-bindgen-macro = { package = "wry-bindgen-macro", path = "wry-bindgen-macro" }

[build-dependencies]
lazy-js-bundle = { git = "https://github.com/DioxusLabs/dioxus" }

[dev-dependencies]
web-sys = { path = "wasm-bindgen/crates/web-sys", features = ['Document', 'Element', 'HtmlElement', 'Node', 'Window'] }

[[test]]
name = "main_thread_tests"
path = "tests/main_thread_tests/main.rs"
harness = false

[[bench]]
name = "main_thread_benches"
path = "benches/main.rs"
harness = false