[package]
name = "wry-testing"
version = "0.1.0"
edition = "2024"

[dependencies]
base64 = "0.22.1"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
slotmap = "1.1.1"
winit = "0.30.12"
wry = "0.53.5"
